<app-slider 
    [nombre]="'Peliculas'"
    [size] = "'small'"
></app-slider>

<div class="center">
    <section id="content">
        <h1 class="subheader">Peliculas</h1>

        <!--  
        <h2>{{titulo}}</h2>
        < Se llama evento click>
        <button (click)='cambiarTitulo()'>Pulsame</button>

        <hr>

        <h2>Mostrar Primera pelicula</h2>
        {{peliculas[0].title}}

        <hr>

        <h3>Numero de Peliculas</h3>

        <div *ngIf="peliculas.length <= 3">
            Hay pocas peliculas
        </div>

        <div *ngIf="peliculas.length > 3">
            Hay muchas peliculas
        </div>

        {{peliculas.length}}

        <hr>
        <h2 class="subheader">Listado de peliculas</h2>
    -->

        <!--- Todos los articulos solo se van a mostrar cuando exista peliculas -->
        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas; let i=index">
                <app-pelicula
                    [pelicula] = "pelicula"
                ></app-pelicula>
            </div>
        </div>

    </section>
    <app-sidebar></app-sidebar>
</div>